.centered {
    display: flex !important;
    justify-content: center !important;
}
.pointer {
    cursor: pointer;
}
.navbar {
    position: absolute;
    padding: 53px 0px 0px 60px;
    @include until ($tablet) {
        padding: 20px 10px;
    }
    width: 100%;
    .control {
        .nav-opt {
            color: white;
            margin-right: 60px;
            font-size: 25px;
            font-family: "Helvetica Medium";
        }
    }
}
.bold-text {
    font-family: "Helvetica Bold";
}
.md-text {
    font-family: "Helvetica Medium";
}
.h-100 {
    height: 100%;
}
