@charset "utf-8";

// Import a Google Font
//@import url('https://fonts.googleapis.com/css?family=Pangram:400,700');

// Set your brand colors
/* $purple: #72084f;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
 */
@font-face {
  font-family: "Helvetica Medium";
  src: url("/src/assets/fonts/Pragmatica-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica Bold";
  src: url("/src/assets/fonts/Pragmatica-Bold.otf") format("opentype");
}
@font-face {
  font-family: "Helvetica";
  src: url("/src/assets/fonts/Pragmatica-Light.ttf") format("opentype");
}

$family-sans-serif: "Helvetica";

@import "../node_modules/bulma/sass/utilities/initial-variables";
@import "../node_modules/bulma/sass/utilities/functions";

$multi-black: #333333; // sets variable dark-blue with code color
$multi-black-invert: findColorInvert($multi-black); //finds the invert color
$multi-footer: #17161a;
$multi-footer-invert: findColorInvert($multi-footer);

@import "../node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
  "multi-black": (
    $multi-black,
    $multi-black-invert,
  ),
  "multi-footer": (
    $multi-footer,
    $multi-footer-invert,
  ),
  //adds variable dark-blue to addcolors List
);
$colors: map-merge(
  $colors,
  $addColors
); // adds colors in addColors List to $colors variable that is global

$navbar-background-color: transparent;
$navbar-item-img-max-height: unset;
$title-color: $multi-black;
$subtitle-color: $multi-black;
// an example to use this with bulma would be has-text-dark-blue which would set the text color with value of dark-blue variable

/* $body-background-color: $customGrey; // changes background color to dark-blue */

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
